<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Tea</title>
    <meta charset="UTF-8">
</head>

<body>

<div>
    <form th:action="@{/admin/events}" th:method="post" th:object="${data}">
        <input type="text" placeholder="name" th:field="*{name}">
        <input type="text" placeholder="description" th:field="*{description}">
        <input type="text" placeholder="place" th:field="*{place}">
        <button type="submit">Create</button>
    </form>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Place</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="event : ${events}">
            <td th:text="${event.getName()}"></td>
            <td th:text="${event.getDescription()}"></td>
            <td th:text="${event.getPlace()}"></td>

            <td>
                <form th:action="@{'/admin/events/{id}' (id=${event.getId()})}" th:method="delete">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>

</html>